<mat-card class="task-card">
    <mat-card-header>
        <div mat-card-avatar [ngStyle]="{ 'background-image': 'url(' + imagePath + ')' }"></div>
        <mat-card-title>{{ task.name }}</mat-card-title>
        <mat-card-subtitle>task</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="imagePath">
    <mat-card-content>
        <p>
            {{ task.description }}
        </p>
    </mat-card-content>
    <mat-card-actions>
        <mat-slide-toggle [formControl]="isOpen">Is open</mat-slide-toggle>
    </mat-card-actions>
</mat-card>
